<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682113097700-oitck526jhaic0ftc5h6cl1ttgpb290k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682113097700-oitck526jhaic0ftc5h6cl1ttgpb290k</string>
	<key>API_KEY</key>
	<string>AIzaSyAZDT_yj1mIHZ25criT930-p1Ikm7CgRoU</string>
	<key>GCM_SENDER_ID</key>
	<string>682113097700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tubes</string>
	<key>PROJECT_ID</key>
	<string>tubes-mobapp-9c34b</string>
	<key>STORAGE_BUCKET</key>
	<string>tubes-mobapp-9c34b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682113097700:ios:214c6a1fd7da428891b1f1</string>
</dict>
</plist>